<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
	<div class="sidebar-nav">
		<div class="nav-canvas">
			<div class="nav-sm nav nav-stacked">
			</div>
			<ul class="nav nav-pills nav-stacked main-menu">
				<li class="nav-header">操作菜单</li>
				<li>
					<a class="ajax-link" href="index"><i class="glyphicon glyphicon-home"></i><span> 仪表盘</span></a>
				</li>
				<li>
					<a class="ajax-link" href="tenantInfo"><i class="glyphicon glyphicon-list-alt"></i><span> 租户信息管理</span></a>
				</li>
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-book"></i><span> 用户管理</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="userInfo">用户信息管理</a>
						</li>
						<li>
							<a href="roleInfo">用户角色管理</a>
						</li>
					</ul>
				</li>
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-camera"></i><span> 工单管理</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="orderModel">工单模板管理</a>
						</li>
						<li>
							<a href="orderRecord">工单记录</a>
						</li>
					</ul>
				</li>
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-cloud"></i><span> 报表管理</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="reportIn">呼入报表</a>
						</li>
						<li>
							<a href="reportOut">呼出报表</a>
						</li>
						<li>
							<a href="reportQc">质检报表</a>
						</li>
					</ul>
				</li>
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-certificate"></i><span> 呼叫管理</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="callIn">呼入管理</a>
						</li>
						<li>
							<a href="callOut">呼出管理</a>
						</li>
					</ul>
				</li>
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-euro"></i><span> 录音质检</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="qcModel">质检模版</a>
						</li>
						<li>
							<a href="qcRecord">质检记录</a>
						</li>
					</ul>
				</li>
				<li class="nav-header hidden-md">个人中心</li>
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-comment"></i><span> 个人信息管理</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="user">账号管理</a>
						</li>
						<li>
							<a href="userRePwd">修改密码</a>
						</li>
					</ul>
				</li>
				<li class="nav-header hidden-md">关于系统</li>
				<li>
					<a href="website"><i class="glyphicon glyphicon-ban-circle"></i><span> 关于网站</span></a>
				</li>
				<li>
					<a href="author"><i class="glyphicon glyphicon-lock"></i><span> 关于作者</span></a>
				</li>
				<li>
					<a class="ajax-link" href="version"><i class="glyphicon glyphicon-floppy-disk"></i><span> 系统版本</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- left menu ends -->