<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
	<div class="navbar-inner">
		<a class="navbar-brand" href="/index"> <img alt="Logo" src="../img/logo20.png" class="hidden-xs" />
			<span>租户控制台</span></a>
		<!-- user dropdown starts -->
		<div class="btn-group pull-right">
			<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>欢迎您，<span class="hidden-sm hidden-xs" id="login_name">默认值</span>
                    <span class="caret"></span>
                </button>
			<ul class="dropdown-menu">
				<li>
					<a href="user">个人信息</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="login">退出</a>
				</li>
			</ul>
		</div>
		<!-- user dropdown ends -->

		<ul class="collapse navbar-collapse nav navbar-nav top-menu">
			<!--<li>
				<a href="#"><i class="glyphicon glyphicon-globe"></i> 访问控制</a>
			</li>-->
			<li class="dropdown">
				<a href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> 访问链接 <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="http://127.0.0.1:8001">CRM系统</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="website">关于网站</a>
					</li>
					<li>
						<a href="author">关于作者</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="version">系统版本</a>
					</li>
				</ul>
			</li>
			<li>
				<form class="navbar-search pull-left">
					<input placeholder="搜索" class="search-query form-control col-md-10" name="query" type="text">
				</form>
			</li>
		</ul>

	</div>
</div>
	<div id="messageTitle" style="position: absolute; z-index: 99;text-align:center;width: 80%;" class="animated bounceInDown">
		<p v-if="show" style="background-color: #FF1111;">登录超时，请重新登录</p>
	</div>
<script type="text/javascript">
       $(function(){
	       	/**
	       	 * $.parseJSON(str);//字符串转对象
	       	 * JSON.stringify(obj);//对象转字符串
	       	 */
	   		var userAllInfo=$.session.get("loginUserAllInfo_tm");
	   		if (typeof(userAllInfo) == "undefined" ) {
	   			window.location.href = '/login';
	   		}
	   		new Vue({
   				el:"#messageTitle",
   				data:{show:false}
   			});
	   		var userAllInfoJson=$.parseJSON(userAllInfo);
	        var user=userAllInfoJson["user"];//返回的还是一个json对象
	        var login_name=user["login_name"];
	        $("#login_name").html(login_name);
       });
    </script>
<!-- topbar ends -->