<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>租户控制台</title>
		<meta name="author" content="WLL">
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- The fav icon -->
		<link rel="shortcut icon" href="../img/favicon.ico">
	</head>
	<body>
		<style>
			html {
				overflow-x: hidden;
				overflow-y: auto;
			}
		</style>
		<% include ./components/topBar.html %>
		<div class="ch-container">
			<div class="row">
				<% include ./components/leftMenu.html %>
				<% include ./components/noScript.html %>
				<div id="content" class="col-lg-10 col-sm-10">
					<!-- content starts -->
					<div>
						<ul class="breadcrumb">
							<li>
								<a href="#">主页</a>
							</li>
							<li>
								<a href="#">仪表盘</a>
							</li>
						</ul>
					</div>
					<div class=" row">
						<div class="col-md-3 col-sm-3 col-xs-6">
							<a data-toggle="tooltip" title="管理租户信息" class="well top-block" href="tenantInfo">
								<i class="glyphicon glyphicon-user blue"></i>
								<br />
								<div>租户信息管理</div>
								<br />
							</a>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-6">
							<a data-toggle="tooltip" title="管理用户信息" class="well top-block" href="userInfo">
								<i class="glyphicon glyphicon-star green"></i>
								<br />
								<div>用户信息管理</div>
								<br />
							</a>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-6">
							<a data-toggle="tooltip" title="管理用户角色" class="well top-block" href="userInfo">
								<i class="glyphicon glyphicon-shopping-cart yellow"></i>
								<br />
								<div>用户角色管理</div>
								<br />
							</a>
						</div>

						<div class="col-md-3 col-sm-3 col-xs-6">
							<a data-toggle="tooltip" title="管理个人信息" class="well top-block" href="user">
								<i class="glyphicon glyphicon-envelope red"></i>
								<br />
								<div>个人信息管理</div>
								<br />
							</a>
						</div>
					</div>
					<div class=" row">
						<div class="box col-md-12">
							<div class="box-inner">
								<div class="box-header well">
									<h2><i class="glyphicon glyphicon-info-sign"></i> 系统消息</h2>
									<div class="box-icon">
										<a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
										<a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
									</div>
								</div>
								<div class="box-content row">
									<div class="col-lg-7 col-md-12">
										<h1>欢迎登录租户控制台<br>
					                        <small>在这里您可以使用租户控制台管理本呼叫中心系统</small>
					                    </h1>
										<ul>
											<br />
											<li><b>管理员拥有最高权限，为了数据的安全性，请管理员规范操作</b></li>
											<br />
											<li><b>请管理员务必保护好用户的信息</b></li>
											<br />
											<li><b>如果在系统操作过程中，出现任务问题请与开发人员沟通</b></li>
											<br />
											<li><b>开发人员邮箱：wllfengshu@163.com</b></li>
										</ul>
									</div>
									<!-- Ads end -->
								</div>
							</div>
						</div>
					</div>
					<!-- /content ends -->
				</div>
				<!--/content.col-md-0-->
			</div>
			<!--/fluid-row-->
			<hr>
			<% include ./components/footer.html %>
		</div>
		<!--/fluid-container-->
	</body>

</html>