<!DOCTYPE HTML>
<html>

	<head>
		<title>重置密码</title>
		<link href="../css/loginRePwd.css" rel="stylesheet" type="text/css" media="all" />
		<!-- Custom Theme files -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="../img/favicon.ico">
	</head>

	<body>
		<!--element start here-->
		<div class="elelment">
			<h2 style="color: #FFFFFF;">欢迎登录租户控制台</h2>
			<div class="element-main" style="padding-bottom: 30px;">
				<h1>忘记密码？</h1>
				<p> 在这个页面，您可以输入您的邮箱来重置密码。</p>
				<form>
					<input type="text" value="输入您的邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入您的邮箱';}">
					<input type="submit" value="开始重置">
				</form>
				<a href="login">我要登录</a>
			</div>
		</div>
	</body>

</html>