<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>租户控制台</title>
		<meta name="author" content="WLL">
		<% include ./components/scriptCSS.html %>
		<% include ./components/scriptJS.html %>
		<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- The fav icon -->
		<link rel="shortcut icon" href="../img/favicon.ico">
	</head>
	<body>
		<style>
			html { overflow-x: hidden; overflow-y: auto; }
		</style>
		<% include ./components/topBar.html %>
		<div class="ch-container">
			<div class="row">
				<% include ./components/leftMenu.html %>
				<% include ./components/noScript.html %>
				<div  id="havaTable"  class="col-lg-10 col-sm-10">
					<!-- content starts -->
					<div>
						<ul class="breadcrumb">
							<li>
								<a href="index">主页</a>
							</li>
							<li>
								<a href="#">录音质检</a>
							</li>
							<li>
								<a href="qcRecord">质检记录</a>
							</li>
						</ul>
					</div>
					<div class="box-content">
						<form class="form-inline" role="form">
							<div class="form-group has-success has-feedback">
								<label class="control-label" for="inputSuccess4">顾客电话：</label>
								<input type="text" class="form-control" placeholder="请输入顾客电话" id="_ani">
							</div>
							<div class="form-group has-success has-feedback">
								<label class="control-label" for="inputSuccess4">坐席工号：</label>
								<input type="text" class="form-control" placeholder="请输入坐席工号" id="_dnis">
							</div>
							<input   @click="queryBut(1)" type="button" class="btn btn-success" value="查询" />
						</form>
					</div>
					<br />
					<div class="box-content">
						<table class="table table-striped table-bordered responsive">
							<thead>
								<tr>
									<th>编号</th>
									<th>顾客电话</th>
									<th>坐席工号</th>
									<th>质检员工号</th>
									<th>开始时间</th>
									<th>结束时间</th>
									<th>得分</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<template>
									<tr v-for="(todo,index) in todos" class="trClass">
										<td>{{index+1}}</td>
										<td v-text="todo.ani" class="center"></td>
										<td v-text="todo.dnis" class="center"></td>
										<td v-text="todo.qc_username"  class="center"></td>
										<td v-text="todo.start_time" class="center"></td>
										<td v-text="todo.end_time" class="center"></td>
										<td v-text="todo.result" class="center"></td>
										<td class="center">
											<a class="btn btn-success" disabled="true">
												<i class="glyphicon glyphicon-zoom-in icon-white"></i> 查看
											</a>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
						<div class="">
							<div style="width: 50%;" class="dataTables_paginate paging_bootstrap pagination pagination-small">
								<div >
									<div>
										<!--以下nav是分页代码-->
										<nav arialabel="page navigation" class="pagenavouter" id="PageNavId"></nav>
									</div>
									<div>
										<div style="float: left;">
											<strong >总条数：<a id="count">0</a></strong>
										</div>
										<div style="float: left;">
											<strong >总页数：<a id="countPage">1</a></strong>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /content ends -->
				</div>
			</div>
			<hr>
			<% include ./components/footer.html %>
		</div>
		<script type="text/javascript">
	        $(function() {
				var goodsVue =new Vue({
					el:"#havaTable",
					data:{
						todos:'',
						_index:1,//指示当前选择的是第几条数据
						pageNavObj:null//分页的对象
					},
					methods:{
						spliceGetStr:function(params){//拼接get请求
							var strTemp="";
			       			for (var variable in params) {
			       				strTemp+=variable+"="+params[variable]+"&"
			       			}
			       			if(strTemp.length>0){
			       				strTemp=strTemp.substr(0,strTemp.length-1);
			       			}
			       			return strTemp;
						},
						getItem:function(_self,index){//得到点击的是哪条数据,返回该条记录
							var _todosStr=JSON.stringify(_self.todos);
							var _todosArr=JSON.parse(_todosStr);
							var _item=_todosArr[index];
				    		return _item;
						},
						getItemId:function(_self,index){//得到点击的是哪条数据,返回该条记录的id
							var _item=this.getItem(_self,index);
							var _itemId=_item["id"];
				    		return _itemId;
						},
						getDataBySession:function(){//从session中获取数据,拼接在header变量中
							var userAllInfo=$.session.get("loginUserAllInfo_tm");
					   		var userAllInfoJson=$.parseJSON(userAllInfo);
					        var sessionId=userAllInfoJson["id"];//返回的还是一个json对象
					        var user=userAllInfoJson["user"];
					        var user_id=user["id"];
				    		var tenant_id=user["tenant_id"];
				    		var _headers= {
								"sessionId":sessionId,
								"user_id":user_id,
								"tenant_id":tenant_id
							}
				    		return _headers;
						},
						loadPaging:function(count,_pageNo){//分页函数
							var pageNum=Math.ceil(count/10);//计算总页数
							$("#count").html(count);
						    $("#countPage").html(pageNum<=0?1:pageNum);
						    //下面开始分页
				            this.pageNavObj = new PageNavCreate("PageNavId",{
				                pageCount:pageNum,//总页数
				                currentPage:_pageNo,//当前页
				                perPageNum:5,//每页按钮数
				            });
				            this.pageNavObj.afterClick(this.sendQuery);
						},
						sendQuery:function(_pageNo){//发送ajax请求，获取指定条件的、带分页的数据
							var _self = this;
							var params ={
				    			ani: $("#_ani").val(),
				    			dnis: $("#_dnis").val(),
				    			pageNo:1,
				    			pageSize:10,
				    			token:"tm"
				    		};
				    		var paramsGetStr="?"+this.spliceGetStr(params);
				    		//从session中获取数据，拼接到header中
				    		var _headers=this.getDataBySession();
				    		$.ajax({
				    			url:'http://localhost:7005/qc/record'+paramsGetStr,
							    type:'get',
							    dataType:'text',
							    headers:_headers,
							    success: function(_data){
							    	var infoRes=$.parseJSON(_data);//返回的数据，包含时间戳等
						        	var infoData=infoRes["data"];//取到data
						        	var count=infoRes["count"];//取到数据总条数
						        	var pageNum=Math.ceil(count/10);//计算总页数
						        	if(infoData==""){
						        		_self.todos = '';
						        		alert("查询为空");
						        		_self.loadPaging(0,1); //分页
						        	}else{
						        		_self.todos = infoData;//设置表格里面的数据
						        		console.log("获取到的数据是："+JSON.stringify(_self.todos));
						        		_self.loadPaging(count,_pageNo);//分页
						        	}
							    },
							    error: function(res){
					            	alert("查询失败");
					            }
							});
						},
						queryBut:function(_pageNo){//点击查询按钮
							this.sendQuery(_pageNo);
						}
					}
				})
			})
	    </script>
	</body>
</html>